# 공통 파일 및 설정
.DS_Store
Thumbs.db
*.log
*.env
*.properties
BackEnd/src/main/resources/application.properties
BackEnd/build/resources/main/application.properties
BackEnd/bin/main/application.properties

# iCloud와 같은 외부 저장 공간 관련 파일
*.icloud

### Node.js (FrontEnd) ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
/coverage
/.pnp
.pnp.js

# 환경 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode 설정
.vscode/

### Gradle (BackEnd) ###
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS(Spring Tool Suite) 관련 파일
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA 관련 파일
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans 관련 파일
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Python ###
__pycache__/
*.py[cod]
*.pyo
*.pyd

### 기타 ###
/bin/